<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="UserName" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAv2e/uFZzZE2F1/iIzan9ewAAAAACAAAAAAAQZgAAAAEAACAAAADcydF5HYboqLg3JwOCkuwfcC+q1p/0/uWlPzZYl3OEYgAAAAAOgAAAAAIAACAAAABHkmWHcQka5gWMv3t8T2dlpjG/Xh+a8/vigMvVUdI9sTAAAADlHRffpW4DjG0Uln7EQtWyDV78RQFzfzGnD60cliRqJtRaqOJtv7fpWkztg2tNJGFAAAAABTZpI628soxhvOvQbOvFVMXp85F9zOhwufmCiZLZ5D/0S7PEH4LcQ6xblvUQ/O8a6vz+fGcg+zPPt32gAdPZWA==" />
		<add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAv2e/uFZzZE2F1/iIzan9ewAAAAACAAAAAAAQZgAAAAEAACAAAACcprti5ChPcaCtA2p1ib7wAM9OgCrJ+1My7+qdHQYHWAAAAAAOgAAAAAIAACAAAACbltEbBARphdIywnDUGgdp2SqsNH1xZczaVtYFVmXsLSAAAACY1ekY190VRq2OzS0PFrio3ojJVPeIUCWc6JW6d2RiokAAAAC9qNxo+f9y57WX3gXgEpbCNvaS0zgyTGOkzhqCvx/G0rlZ1oOW+mlTxQT9hDC/AKKcoTDcmtaQMguRnLVkq5NR" />
	</appSettings>
</configuration>